.toggler {
    opacity: 0;
    scale: 0;
    margin-top: 5px;
  }
  .toggler > div {
    width: 30px;
    height: 2.5px;
    margin-block: 4px;
  
    border-radius: 25%;
  
    background-color: #98989c;
    transition: all 300ms ease-in-out;
  }
  
  .toggler[data-toggled="true"] > div:nth-child(1) {
    transform: rotateZ(30deg) translateX(1px);
    transform-origin: left;
    border-radius: 50%;
  }
  
  .toggler[data-toggled="true"] > div:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  
  .toggler[data-toggled="true"] > div:nth-child(3) {
    transform: rotateZ(-30deg) translateY(2.5px);
    transform-origin: left;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 950px) {
    .toggler {
      opacity: 1;
      scale: 1;
      transition: all 300ms ease-in-out;
    }
  }