* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}
button {
  background-color: rgb(246, 242, 250);
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
}

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}